Telegram BOT.json
{
  "name": "Telegram BOT",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -192
      ],
      "id": "c81a9dcc-db2d-4a26-9ec9-9ce9eeffa27c",
      "name": "Telegram Trigger",
      "webhookId": "61925b02-ac4a-488c-a358-f46d4ab9dead",
      "credentials": {
        "telegramApi": {
          "id": "stUFDJJ7Z0jR93HJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=give me ans for this message:  {{ $json.message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -144,
        -192
      ],
      "id": "fbc77556-deb8-42ca-a6ed-0cddc2bba65b",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "7AvaU9woI7OLm2os",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -192
      ],
      "id": "196333c3-e5b6-423c-a56d-1a56dc5805e1",
      "name": "Send a text message",
      "webhookId": "ee96af2d-6dd0-456a-9c77-b3a67cf4265c",
      "credentials": {
        "telegramApi": {
          "id": "stUFDJJ7Z0jR93HJ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "79f20726-2565-4ef7-988d-7d8d5018ecef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3db947cd4977c9dcdf7e5aaeafdafc1e3502011e25485e21a2ccd9561f4603ae"
  },
  "nodeGroups": [],
  "id": "kpcj5KUqsBHLHIW4",
  "tags": []
}